<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin -- Turtle Shelter Project</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <nav class="navbar">
    <div class="navbar-logo">Turtle Shelter Project</div>
    <div class="navbar-buttons">
      <!-- These will be navbar buttons to take the admin to pages that will manage the volunteers and events -->
      <form action="/admin" method="GET"><button class="btn" type="submit">Admin Home</button></form>
      <form action="/manageEvents" method="GET"><button class="btn" type="submit">Manage Events</button></form>
    </nav>

  <body>
    <main style="display: flex; justify-content: center; align-items: center; height: 100vh">
        <section class="form-section">
          <h2 class="form-title">Edit Admin User</h2>
          <form action="/editUser/<%= admin.admin_user_name %>" method="POST" class="volunteer-form">
            <fieldset>
              <legend>Admin Information</legend>
              <div class="form-group">
                <label for="admin_user_name">User Name</label>
                <input
                  type="text"
                  id="admin_user_name"
                  name="admin_user_name"
                  value="<%= admin.admin_user_name %>"
                  required
                />
              </div>
              <div class="form-group">
                  <label for="admin_password">Password</label>
                  <input
                    type="text"
                    id="admin_password"
                    name="admin_password"
                    value="<%= admin.admin_password %>"
                    required
                  />
                </div>
              <div class="form-group">
                <label for="admin_first_name">First Name</label>
                <input type="text" id="admin_first_name" name="admin_first_name" value="<%= admin.admin_first_name %>" required />
              </div>
              <div class="form-group">
                <label for="admin_last_name">Last Name</label>
                <input type="text" id="admin_last_name" name="admin_last_name" value="<%= admin.admin_last_name %>"required />
              </div>
            </fieldset>
  
            <button type="submit" class="btn">Submit</button>
          </form>
        </section>
      </main>
  
      <footer class="footer">
        <div class="footer-info">Turtle Shelter Project, PO Box 382, Kaysville, UT 84037</div>
        <div class="footer-info">801-872-3190</div>
        <div class="footer-info">turtleshelterproject@gmail.com</div>
      </footer>


    </form>
  </body>
</html>
