<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin -- Turtle Shelter Project</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">

    <style>
      .btn-table {
        display: inline-block;
        background-color: #424242;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        position: fixed;
        bottom: 0px; /* Adjust this value as needed */
        left: 50%;
        transform: translateX(-50%); /* Centers the button horizontally */
      }

      .btn-table:hover {
        background-color: white;
        color: #424242;
      }

      button {
        padding: 12px 25px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
        transition: background-color 0.3s;
      }

      .form-section {
        margin: 40px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        width: 80%;
        border-radius: 8px;
      }

      .form-title {
        text-align: center;
        font-size: 24px;
        color: #333;
      }

      .form-group {
        margin-bottom: 15px;
        font-size: 16px;
        color: #555;
      }

      .form-group b {
        color: #333;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
      }

      table,
      th,
      td {
        border: 1px solid #ddd;
      }

      th,
      td {
        padding: 12px;
        text-align: left;
        font-size: 16px;
      }

      th {
        background-color: #f2f2f2;
      }

      td {
        background-color: #fafafa;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
        <div class="navbar-logo">Turtle Shelter Project</div>
        <div class="navbar-buttons">
          <!-- These will be navbar buttons to take the admin to pages that will manage the volunteers and events -->
          <form action="/admin" method="GET"><button class="btn" type="submit">Admin Home</button></form>
          <form action="/manageUsers" method="GET"><button class="btn" type="submit">Manage Admin Users</button></form>
          <form action="/manageVolunteers" method="GET"><button class="btn" type="submit">Manage Volunteers</button></form>
          <form action="/manageEvents" method="GET"><button class="btn" type="submit">Manage Events</button></form>
        </nav>

    <!-- Event Info Here -->
    <main style="display: flex; justify-content: center; align-items: center">
      <section class="form-section">
        <form action="/viewCompletedEvent/<%= event.eventid %>" method="POST">
          <h2 class="form-title">Event Details</h2>
          <fieldset>
            <legend>Requester Details</legend>
            <div class="form-group">
              <label for="event_name">Event Name: <b><%= event.event_name %></b></label>
            </div>
            <div class="form-group">
              <label for="organization">Organization: <b><%= event.organization %></b></label>
            </div>
            <div class="form-group">
              <label for="organizer_first_name"
                >Organizer First Name: <b><%= event.organizer_first_name %></b></label
              >
            </div>
            <div class="form-group">
              <label for="organizer_last_name"
                >Organizer Last Name: <b><%= event.organizer_last_name %></b></label
              >
            </div>
            <div class="form-group">
              <label for="org_phone">Phone Number: <b><%= event.org_phone %></b></label>
            </div>
            <div class="form-group">
              <label for="org_email">Email: <b><%= event.org_email %></b></label>
            </div>
          </fieldset>

          <fieldset>
            <legend>Event Details</legend>
            <div class="form-group">
              <label for="date">Date Option 1: <b><%= event.eventdatetime1 %></b></label>
            </div>
            <div class="form-group">
                <label for="date">Date Option 2: <b><%= event.eventdatetime2 %></b></label>
              </div>
            <div class="form-group">
              <label for="event_address"
                >Event Address:
                <b
                  ><%= event.event_address %>, <%= event.city %>, <%= event.state %>, <%= event.zip
                  %></b
                ></label
              >
            </div>
            <div class="form-group">
              <label for="event_type">Event Type: <b><%= event.event_type %></b></label>
            </div>
            <div class="form-group">
              <label>Public: <b><%= event.public == 'true' ? 'Yes' : 'No' %></b></label>
            </div>
            <div class="form-group">
              <label
                >Guest Speaker: <b><%= event.guest_speaker == 'true' ? 'Yes' : 'No' %></b></label
              >
            </div>
            <div class="form-group">
              <label for="numexpected"
                >Expected Number of People: <b><%= event.numexpected %></b></label
              >
            </div>
            <div class="form-group">
              <label for="duration">Duration: <b><%= event.duration %> hours</b></label>
            </div>
            <div class="form-group">
              <label for="venuedescription"
                >Venue Description: <b><%= event.venuedescription %></b></label
              >
            </div>
          </fieldset>
        </form>
      </section>
    </main>
    <form action="/adminDeclinedEvents" method="GET">
      <button class="btn-table" type="submit">Back to Declined Events</button>
    </form>
  </body>
</html>
